<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <style>
      span {
        font-size: 200px;
        font-weight: 900;
      }
    </style>
  </head>
  <body>
      <div class="container-fluid m-3">
      <h3 class="text-center">Count Page</h3>
    </div>
      <div class="container m-auto">
      <div class="row d-flex text-right  justify-content-end m-4">
        <div class="col-12  align-items-center">
          <a class="btn btn-primary pr-2" href="{% url 'data' %}" role="button">Data</a>
          {% comment %} <a class="btn btn-primary pr-2" href="{% url 'login' %}" role="button">Login</a> {% endcomment %}
          <a class="btn btn-primary pr-2" href="{% url 'home' %}" role="button">Home</a>
          <p class ="text-right"> {{request.user.full_name}}</p>
        </div>
      </div>
    <h1>page Count is:<span> {{count}} </span></h1>
    <br />
    <div class="text-center">
    <a class = "btn btn-warning " href="{% url 'logout' %}" role = "button">Logoff</a>
    </div>
  </body>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"
  ></script>
</html>
